@font-face {
  font-family: "Avenir";
  /* src fallbacks ommitted for brevity */
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(42, 46, 51);
  color: #e6e6e6e6;
  font-size: 22px;
  font-family: "Avenir";
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
}

h1 {
  margin-bottom: 30px;
  padding-bottom: 20px;
  color: #8a8a8a;
  font-size: 52px;
  font-variant: small-caps;
}

#container {
  margin: auto;
  width: 1300px;
  padding: 20px;
  overflow-x: hidden;
  overflow-wrap: normal;
  white-space: nowrap;
}

#connMsg {
  color: #e9e212;
}

#program {
  padding-left: 5px;
  padding-top: 5px;
  color: #e6e6e6;
  font-size: 32px;
  font-variant: small-caps;
  align-items: center;
}

#last,
#current,
#next {
  padding-left: 5px;
  padding-top: 5px;
  color: #e6e6e6;
  font-size: 42px;
  font-variant: normal;
}

.multiplier {
  font-size: 38px;
  color: #9d9d9d;
}

.disconnect {
  color: #e91212 !important;
}
